{
  "env": {
    "es6": true,
    "node": true
  },

  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },

  "parser": "babel-eslint",

  "plugins": ["prettier", "serverless-eslint-plugin"],
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {
    "no-unneeded-ternary": 0,
    "prettier/prettier": "error"
  }
}
